<footer>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="programs">Programs</a></li>
        <li><a href="trainers">Trainers</a></li>
        <li><a href="memberships">Membership</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
    <p>&copy; ATU Sligo 2025. Dominik Revtak - s00272657 </p>
</footer>