<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="images/logo2.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Sligo Fitness
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <img src="images/burger-menu-icon.png" alt="Menu" width="30" height="30">
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 gap-3 me-auto mb-2 mb-lg-0">
        {{!-- Page links --}}
        <li class="nav-item">
          <a class="nav-link {{#if state.home}}active{{/if}}" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if state.trainers}}active{{/if}}" href="trainers">Trainers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if state.memberships}}active{{/if}}" href="memberships">Membership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if state.products}}active{{/if}}" href="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{#if state.contact}}active{{/if}}" href="contact">Contact</a>
        </li>
        {{!-- account dropdown link --}}
        <li class="nav-item dropdown ms-0 ms-md-auto">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu py-2">
            <li><a class="dropdown-item" id="loginlogout" href="login">Login/Register</a></li>
            <li><a class="dropdown-item" id="userdetails" href="userdetails">User Details</a></li>
          </ul>
        </li>
        {{!-- cart --}}
        <li class="nav-item d-flex justify-content-center" >
          <a class="cart-icon" href="cart">
            <i class="bi bi-cart fs-3"></i>
            <p>(<span id="checkoutfigure"></span>)</p>

          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<section class="project_disclaimer">
  <p>*THIS IS A COLLEGE PROJECT*</p>
</section>