<nav class="navbar navbar-expand-md navbar-dark bg-dark bg-body-tertiary ">

  <div class="container-fluid">

    <a class="navbar-brand" href="/">
      <img src="images/logo2.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
      Sligo Fitness
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      {{!-- <span class="navbar-toggler-icon"></span> --}}
      <img src="images/burger-menu-icon.png" alt="Menu" width="30" height="30">
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {{#if state.home}}active{{/if}}" aria-current="page" href="/">Home</a>
        <a class="nav-link {{#if state.trainers}}active{{/if}}" href="trainers">Trainers</a>
        <a class="nav-link {{#if state.memberships}}active{{/if}}" href="memberships">Membership</a>
        <a class="nav-link {{#if state.products}}active{{/if}}" href="products">Products</a>
        <a class="nav-link {{#if state.contact}}active{{/if}}" href="contact">Contact</a>
      </div>
    </div>

  </div>
  
</nav>

<section class="project_disclaimer">
  <p>*THIS IS A COLLEGE PROJECT*</p>
</section>