<main class="flex-grow-1">
    
    <div class="container py-5">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="card shadow">

                    <div class="card-body p-4">

                        <h3 class="text-center mb-4">Have any questions? Contact Us</h3>

                        <form action="submission" method="GET">

                            <div class="row">

                                <div class="col-md-6 mb-3">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="firstName" required placeholder="John">
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="lastName" required placeholder="Smith">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="userEmail" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="userEmail" name="userEmail" required placeholder="johndoe@example.com">
                                <div class="form-text text-muted">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                                <label for="messageBox" class="form-label">Message</label>
                                <textarea class="form-control" id="messageBox" name="userMessage" rows="4" placeholder="Enter your message here"></textarea>
                            </div>
                            <div class="mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                                <label class="form-check-label" for="exampleCheck1">I agree to be contacted</label>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-lg" >Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>