<main>
    
    {{!-- MAIN IMAGE --}}
    <div>
        <picture>
            {{!-- sm - mobile --}}
            <source srcset="images/banner-sm.jpeg" media="(max-width: 576px)">
            {{!-- med - tablet --}}
            <source srcset="images/banner-md.jpeg" media="(max-width: 992px)">
            {{!-- lg - desktop --}}
            <img class="img-fluid w-100 p-0" src="images/banner-lg.jpeg">
        </picture>
    </div>

    {{!-- PRODUCTS CAROUSEL --}}
    <div>
        
    </div>


    {{!-- WHERE TO FIND US SECTION --}}
    <section class="location-section">
        <div class="container py-3">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-6">
                    <h2 >Where you can find us:</h2>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2330.1859188147178!2d-8.457860522691034!3d54.265288472570006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485ee9b235f8af37%3A0x94e1a2a6d17dda2!2sRom%20Sligo%20(Range%20of%20Motion)!5e0!3m2!1sen!2sie!4v1742397702107!5m2!1sen!2sie"
                        width="95%" height="250" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>

            </div>
        </div>
    </section>

    <!-- FEEL SUPPORTED SECTION-->
    <div class="container-fluid p-0 m-0 ">

        <div class="row align-items-center">

            <div class="col-sm-6 p-5 m-0" style="text-align: center;">
                <h2 style=" color: red;">Feel supported with Sligo Fitness</h2>
                <p>With 24/7 worldwide access, monthly contracts, personal training, a variety
                    of
                    equipment, and a mood boosting environment, Sligo Fitness is the right gym for you. Join now to
                    see how
                    Sligo Fitness can help you achieve your goals.</p>
                <a href="memberships" class="btn btn-primary">Join now</a>
            </div>

            <div class="col-sm-6">
                <picture >
                    <source srcset="images/coupleingym-mobile.jpeg" media="(max-width: 576px)">
                    <source srcset="images/coupleingym-tablet.jpeg" media="(max-width: 992px)">
                    <img class="img-fluid w-100 p-0" src="images/coupleingym-desktop.jpeg">
                </picture>
            </div>
        </div>
    </div>


</main>