<main class="flex-grow-1">

    <div class="container py-5">
        <div class="row justify-content-center">

            <div class="col-md-8">

                <div class="card shadow">

                    <div class="card-body p-4">

                        <h2 class="text-center mb-4">User Details:</h2>

                        <form name="userdetails" id="udetails" action="" method="get">

                            {{!-- First name --}}
                            <div class="form-group">
                                <label for="getFirstName">First name</label>
                                <input type="text" class="form-control" id="firstNameID" name="firstname" required>
                            </div>
                            {{!-- Last name --}}
                            <div class="form-group">
                                <label for="getLastName">Last name</label>
                                <input type="text" class="form-control" id="lastNameID" name="lastname" required>
                            </div>
                            {{!-- Email --}}
                            <div class="form-group">
                                <label for="emailAddressID">Email address</label>
                                <input type="email" class="form-control" id="emailAddressID" name="email" required>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Address line 1</label>
                                <input type="text" class="form-control" id="address1" name="address1">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Address line 2</label>
                                <input type="text" class="form-control" id="address2" name="address2" placeholder="optional">
                            </div>

                            <div class="form-group">
                                <label class="form-label">City</label>
                                <input type="text" class="form-control" id="city" name="city" >
                            </div>

                            <div class="form-group">
                                <label class="form-label">Eircode</label>
                                <input type="text" class="form-control" id="eircode" name="eircode" placeholder="optional">
                            </div>

                            <input class="my-3 btn btn-primary" type='submit' value="Update My Details">

                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

</main>